In [4]:
# https://www.pakin.lat/chispazo-resultados-historicos

In [12]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
# TensorFlow y tf.keras
import tensorflow as tf
from tensorflow import keras

# Librerias de ayuda
import numpy as np
import numpy as np
from keras.models import Sequential
from keras.layers.core import Dense

In [3]:
df = pd.read_csv('./historico.csv')
df

      CONCURSO  R1  R2  R3  R4  R5       FECHA
0         9404  13  21  24  26  27  2022-10-21
1         9403   1   8  11  22  24  2022-10-21
2         9402   6   8   9  16  21  2022-10-20
3         9401   2   5  12  18  28  2022-10-20
4         9400   3   5  18  25  26  2022-10-19
...        ...  ..  ..  ..  ..  ..         ...
9399         5  12  14  17  21  24  1999-01-19
9400         4   6  10  16  20  25  1999-01-19
9401         3   1  12  16  18  21  1999-01-12
9402         2   5  12  18  22  23  1999-01-08
9403         1   4   7  11  21  24  1999-01-05

[9404 rows x 7 columns]

In [44]:
df = df[['R1','R2','R3','R4','R5']]

In [45]:
np.median(df['R1'])

4.0

In [46]:
np.median(df['R2'])

9.0

In [47]:
np.median(df['R3'])

14.0

In [48]:
np.median(df['R4'])

20.0

In [49]:
np.median(df['R5'])

25.0

In [59]:
print(np.count_nonzero(df == 9, axis=0))

[380 765 474  92   6]

In [73]:

for i in range(1,29):
    print(i, np.count_nonzero(df == i, axis=0))

1 [1689    0    0    0    0]
2 [1416  279    0    0    0]
3 [1187  412   43    0    0]
4 [1049  589   64    3    0]
5 [896 631 135  14   0]
6 [687 746 235  26   1]
7 [558 787 305  48   4]
8 [440 797 393  66   6]
9 [380 765 474  92   6]
10 [316 731 566 154  19]
11 [220 669 596 203  17]
12 [167 588 654 276  35]
13 [141 483 707 292  56]
14 [ 85 468 682 404  65]
15 [ 67 389 655 493  90]
16 [ 34 294 680 553 128]
17 [ 30 254 625 646 202]
18 [ 18 170 569 695 286]
19 [ 13 119 537 714 311]
20 [  7 110 438 766 378]
21 [  4  60 364 766 567]
22 [  0  36 283 726 617]
23 [  0  16 176 728 786]
24 [  0   8 147 639 935]
25 [   0    3   55  492 1181]
26 [   0    0   21  387 1017]
27 [   0    0    0  221 1293]
28 [   0    0    0    0 1404]