In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import pingouin as pg

In [5]:
df = pd.read_csv('./data/f1-2022-1-13.csv')
df

,rnk,driver,total,1,2,3,4,5,6,7,...,13,14,15,16,17,18,19,20,21,22
0,1,Max Verstappen,258,0.0,25.0,0.0,34.0,26.0,25.0,15.0,...,25.0,-,-,-,-,-,-,-,-,-
1,2,Charles Leclerc,178,26.0,19.0,26.0,15.0,18.0,0.0,12.0,...,8.0,-,-,-,-,-,-,-,-,-
2,3,Sergio Pérez,173,0.0,12.0,18.0,24.0,12.0,19.0,25.0,...,10.0,-,-,-,-,-,-,-,-,-
3,4,George Russell,158,12.0,10.0,15.0,12.0,10.0,15.0,10.0,...,15.0,-,-,-,-,-,-,-,-,-
4,5,Carlos Sainz,156,18.0,15.0,0.0,5.0,15.0,12.0,18.0,...,12.0,-,-,-,-,-,-,-,-,-
5,6,Lewis Hamilton,146,15.0,1.0,12.0,0.0,8.0,10.0,4.0,...,19.0,-,-,-,-,-,-,-,-,-
6,7,Lando Norris,76,0.0,6.0,10.0,19.0,0.0,4.0,9.0,...,6.0,-,-,-,-,-,-,-,-,-
7,8,Esteban Ocon,58,6.0,8.0,6.0,0.0,4.0,6.0,0.0,...,2.0,-,-,-,-,-,-,-,-,-
8,9,Valtteri Bottas,46,8.0,0.0,4.0,12.0,6.0,8.0,2.0,...,0.0,-,-,-,-,-,-,-,-,-
9,10,Fernando Alonso,41,2.0,0.0,0.0,0.0,0.0,2.0,6.0,...,4.0,-,-,-,-,-,-,-,-,-
10,11,Kevin Magnussen,22,10.0,2.0,0.0,3.0,0.0,0.0,NaN,...,0.0,-,-,-,-,-,-,-,-,-
11,12,Daniel Ricciardo,19,0.0,0.0,8.0,3.0,0.0,0.0,0.0,...,0.0,-,-,-,-,-,-,-,-,-
12,13,Pierre Gasly,16,0.0,4.0,2.0,0.0,0.0,0.0,0.0,...,0.0,-,-,-,-,-,-,-,-,-
13,14,Sebastian Vettel,16,NaN,NaN,0.0,4.0,0.0,0.0,1.0,...,1.0,-,-,-,-,-,-,-,-,-
14,15,Mick Schumacher,12,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,-,-,-,-,-,-,-,-,-
15,16,Yuki Tsunoda,11,4.0,0.0,0.0,6.0,0.0,1.0,0.0,...,0.0,-,-,-,-,-,-,-,-,-
16,17,Guanyu Zhou,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-,-,-,-,-,-,-,-,-
17,18,Lance Stroll,4,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,-,-,-,-,-,-,-,-,-
18,19,Alexander Albon,3,0.0,0.0,1.0,0.0,2.0,0.0,NaN,...,0.0,-,-,-,-,-,-,-,-,-
19,20,Nicholas Latifi,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-,-,-,-,-,-,-,-,-
20,21,Nico Hulkenberg,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,-,-,-,-,-,-,-,-,-

In [27]:
# Datos
# ==============================================================================
valores_A = np.array([0.0,25.0,0.0,34.0,26.0,25.0,15.0,25.0,25.0,6.0,27.0,25.0,25.0])
valores_B = np.array([26.0,19.0,26.0,15.0,18.0,0.0,12.0,0.0,10.0,12.0,32.0,0.0,8.0])
muestra = np.repeat(['A', 'B'], repeats=13)
datos = pd.DataFrame({
            'valor': np.concatenate([valores_A, valores_B]),
            'muestra': muestra
})
datos

    valor muestra
0     0.0       A
1    25.0       A
2     0.0       A
3    34.0       A
4    26.0       A
5    25.0       A
6    15.0       A
7    25.0       A
8    25.0       A
9     6.0       A
10   27.0       A
11   25.0       A
12   25.0       A
13   26.0       B
14   19.0       B
15   26.0       B
16   15.0       B
17   18.0       B
18    0.0       B
19   12.0       B
20    0.0       B
21   10.0       B
22   12.0       B
23   32.0       B
24    0.0       B
25    8.0       B

In [28]:
# Test de homocedasticidad
# ==============================================================================
pg.homoscedasticity(data=datos, dv='valor', group='muestra', method='levene')

               W      pval  equal_var
levene  0.127131  0.724541       True

In [29]:
# U-test (p-value y tamaño de efecto)
# ==============================================================================
pg.mwu(x=valores_A, y=valores_B, alternative='two-sided')

     U-val alternative     p-val       RBC      CLES
MWU  109.5   two-sided  0.204184 -0.295858  0.647929