### Test U de Mann-Whitney-Wilcoxon (U-test) con Python
https://www.cienciadedatos.net/documentos/pystats11-wilcoxon-mann-whitney-u-test-python

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import pingouin as pg

In [6]:
# Datos
# ==============================================================================
valores_A = np.array([1.1, 3.4, 4.3, 2.1, 7.0 , 2.5])
valores_B = np.array([7.0, 8.0, 3.0, 5.0, 6.2 , 4.4])
muestra = np.repeat(['A', 'B'], repeats=6)
print(muestra)
print(np.concatenate([valores_A, valores_B]))
datos = pd.DataFrame({
            'valor': np.concatenate([valores_A, valores_B]),
            'muestra': muestra
})
datos

['A' 'A' 'A' 'A' 'A' 'A' 'B' 'B' 'B' 'B' 'B' 'B']
[1.1 3.4 4.3 2.1 7.  2.5 7.  8.  3.  5.  6.2 4.4]

    valor muestra
0     1.1       A
1     3.4       A
2     4.3       A
3     2.1       A
4     7.0       A
5     2.5       A
6     7.0       B
7     8.0       B
8     3.0       B
9     5.0       B
10    6.2       B
11    4.4       B

In [3]:
# Test de homocedasticidad
# ==============================================================================
pg.homoscedasticity(data=datos, dv='valor', group='muestra', method='levene')

               W      pval  equal_var
levene  0.002562  0.960625       True

In [4]:
# U-test (p-value y tama√±o de efecto)
# ==============================================================================
pg.mwu(x=valores_A, y=valores_B, alternative='two-sided')

     U-val alternative     p-val       RBC      CLES
MWU    6.5   two-sided  0.077648  0.638889  0.180556