In [30]:
import pandas as pd
import numpy as np
import statistics as stats

In [31]:
df = pd.DataFrame(
        {"fi": [2, 3, 4, 5, 6, 7, 8, 9], "xi": [87, 65, 16, 17, 18,10, 3 ,6]} 
    )
df

   fi  xi
0   2  87
1   3  65
2   4  16
3   5  17
4   6  18
5   7  10
6   8   3
7   9   6

In [35]:
n = stats.fsum(df['xi'])
n

222.0

In [36]:
fixi = stats.fsum(df['fi']*df['xi'])
fixi

774.0

In [37]:
x = fixi / n
x

3.4864864864864864

In [47]:
s2 = (stats.fsum(df['xi'] - x)**2)/(n-1)
print(s2)
s = stats.sqrt(s2)
s

170.48849607832125

13.057124341841938

In [23]:
df2 = pd.DataFrame(
        {"nVeces": [2, 3, 4, 5, 6, 7, 9], "alumnos": [93, 23, 9, 14, 7, 3, 1]} 
    )
df2

   nVeces  alumnos
0       2       93
1       3       23
2       4        9
3       5       14
4       6        7
5       7        3
6       9        1