### Poisson - Rue Salvesen - Dixon Coles
https://penaltyblog.readthedocs.io/en/latest/ratings/massey_ratings.html

https://www.pro-football-reference.com/years/2022/games.htm

In [18]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [19]:
import os
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import penaltyblog as pb

In [20]:
import nfl_data_py as nfl

In [21]:
try:
    import nfl_data_py as nfl
except:
    ! pip install nfl_data_py

In [22]:
semana = 8
temporada = 2022
normalizacion = 1
MAX = 10
df = nfl.import_schedules([temporada])
df = df[df['week']<semana]

In [23]:
df = df.rename(columns={'away_team':'AwayTeam',
                                   'home_team':'HomeTeam',
                       'away_score':'FTHG',
                       'home_score':'FTAG'})

In [24]:
df[['FTHG','FTAG']]

      FTHG  FTAG
6137  31.0  10.0
6138  27.0  26.0
6139  26.0  24.0
6140  10.0  19.0
6141  23.0  20.0
...    ...   ...
6240  20.0  38.0
6241  37.0  23.0
6242  44.0  23.0
6243  10.0  16.0
6244  33.0  14.0

[108 rows x 2 columns]

In [25]:
df[df['AwayTeam']=='BUF']

,game_id,season,game_type,week,gameday,weekday,gametime,AwayTeam,FTHG,HomeTeam,...,wind,away_qb_id,home_qb_id,away_qb_name,home_qb_name,away_coach,home_coach,referee,stadium_id,stadium
6137,2022_01_BUF_LA,2022,REG,1,2022-09-08,Thursday,20:20,BUF,31.0,LA,...,NaN,00-0034857,00-0026498,Josh Allen,Matthew Stafford,Sean McDermott,Sean McVay,Carl Cheffers,LAX01,SoFi Stadium
6173,2022_03_BUF_MIA,2022,REG,3,2022-09-25,Sunday,13:00,BUF,19.0,MIA,...,NaN,00-0034857,00-0036212,Josh Allen,Tua Tagovailoa,Sean McDermott,Mike McDaniel,Alex Kemp,MIA00,Hard Rock Stadium
6188,2022_04_BUF_BAL,2022,REG,4,2022-10-02,Sunday,13:00,BUF,23.0,BAL,...,NaN,00-0034857,00-0034796,Josh Allen,Lamar Jackson,Sean McDermott,John Harbaugh,Jerome Boger,BAL00,M&T Bank Stadium
6228,2022_06_BUF_KC,2022,REG,6,2022-10-16,Sunday,16:25,BUF,24.0,KC,...,NaN,00-0034857,00-0033873,Josh Allen,Patrick Mahomes,Sean McDermott,Andy Reid,Brad Allen,KAN00,GEHA Field at Arrowhead Stadium

In [26]:
if normalizacion == 1:
    df['FTHG'] = (df['FTHG'] - df['FTHG'].min()) / ( df['FTHG'].max() - df['FTHG'].min()) * MAX
    df['FTAG'] = (df['FTAG'] - df['FTAG'].min()) / ( df['FTAG'].max() - df['FTAG'].min()) * MAX

In [27]:
df[["FTHG", "FTAG"]].mean()

FTHG    4.390432
FTAG    4.603175
dtype: float64

In [28]:
df[['FTHG','FTAG']]

          FTHG      FTAG
6137  6.458333  1.666667
6138  5.625000  5.476190
6139  5.416667  5.000000
6140  2.083333  3.809524
6141  4.791667  4.047619
...        ...       ...
6240  4.166667  8.333333
6241  7.708333  4.761905
6242  9.166667  4.761905
6243  2.083333  3.095238
6244  6.875000  2.619048

[108 rows x 2 columns]

In [29]:
pr = nfl.import_schedules([temporada])
pr = pr[pr['week']==semana ]
juegos = pr['week'].count()

In [30]:
pr = pr.rename(columns={'away_team':'AwayTeam',
                                   'home_team':'HomeTeam',
                       'away_score':'FTHG',
                       'home_score':'FTAG'})

In [31]:
rue = pb.models.RueSalvesenGoalModel(df["FTHG"], df["FTAG"], df["HomeTeam"], df["AwayTeam"])
rue.fit()

In [32]:
model = pb.models.DixonColesGoalModel(df["FTHG"], df["FTAG"], df["HomeTeam"], df["AwayTeam"])
model.fit()

In [33]:
pois = pb.models.PoissonGoalsModel(df["FTHG"], df["FTAG"], df["HomeTeam"], df["AwayTeam"])
pois.fit()

In [34]:
print('Rus Salvesen Model')
print(f'Season: {temporada}')
print(f'Week: {semana}')
for i in range(0,juegos):
    EL = pr.iloc[i]['HomeTeam']
    EV = pr.iloc[i]['AwayTeam']
    probs = rue.predict(EL, EV)
    if probs.home_win >= .50 :
        print(f'L {EL} -{100/probs.home_win:.0f} vs V {EV} +{100/probs.away_win:.0f}')
    elif probs.away_win >= .50:
        print(f'L {EL} +{100/probs.home_win:.0f} vs V {EV} -{100/probs.away_win:.0f}')
    else:
        print(f'L {EL} +{100/probs.home_win:.0f} vs V {EV} +{100/probs.away_win:.0f}')

Rus Salvesen Model
Season: 2022
Week: 8
L TB -188 vs V BAL +330
L JAX +415 vs V DEN -174
L ATL +276 vs V CAR +202
L DAL +558 vs V CHI -148
L DET -153 vs V MIA +438
L MIN +321 vs V ARI -186
L NO +244 vs V LV +214
L NYJ +249 vs V NE +230
L PHI +833 vs V PIT -128
L HOU -181 vs V TEN +335
L IND +204 vs V WAS +286
L LA -171 vs V SF +390
L SEA -153 vs V NYG +446
L BUF +1010 vs V GB -124
L CLE -161 vs V CIN +393

In [39]:
print('Dixon Coles Model')
print(f'Season: {temporada}')
print(f'Week: {semana}')
for i in range(0,juegos):
    EL = pr.iloc[i]['HomeTeam']
    EV = pr.iloc[i]['AwayTeam']
    probs = model.predict(EL, EV)
    if probs.home_win >= .50 :
        print(f'L {EL} -{100/probs.home_win:.0f} vs V {EV} +{100/probs.away_win:.0f}')
    elif probs.away_win >= .50:
        print(f'L {EL} +{100/probs.home_win:.0f} vs V {EV} -{100/probs.away_win:.0f}')
    else:
        print(f'L {EL} +{100/probs.home_win:.0f} vs V {EV} +{100/probs.away_win:.0f}')

Dixon Coles Model
Season: 2022
Week: 8
L TB -156 vs V BAL +449
L JAX +393 vs V DEN -176
L ATL +271 vs V CAR +207
L DAL +599 vs V CHI -145
L DET -159 vs V MIA +385
L MIN +310 vs V ARI -190
L NO -183 vs V LV +296
L NYJ +290 vs V NE -200
L PHI +1018 vs V PIT -122
L HOU -159 vs V TEN +408
L IND +261 vs V WAS +226
L LA -183 vs V SF +334
L SEA -154 vs V NYG +429
L BUF +2591 vs V GB -110
L CLE -141 vs V CIN +538

In [40]:
print('Poisson Model')
print(f'Season: {temporada}')
print(f'Week: {semana}')
for i in range(0,juegos):
    EL = pr.iloc[i]['HomeTeam']
    EV = pr.iloc[i]['AwayTeam']
    probs = pois.predict(EL, EV)
    #print(f'Home {EL} {probs.home_win} vs Away {EV} {probs.away_win}')
    if probs.home_win >= .50 :
        print(f'L {EL} -{100/probs.home_win:.0f} vs V {EV} +{100/probs.away_win:.0f}')
    elif probs.away_win >= .50:
        print(f'L {EL} +{100/probs.home_win:.0f} vs V {EV} -{100/probs.away_win:.0f}')
    else:
        print(f'L {EL} +{100/probs.home_win:.0f} vs V {EV} +{100/probs.away_win:.0f}')

Poisson Model
Season: 2022
Week: 8
L TB -155 vs V BAL +447
L JAX +387 vs V DEN -175
L ATL +271 vs V CAR +206
L DAL +590 vs V CHI -144
L DET -159 vs V MIA +385
L MIN +309 vs V ARI -190
L NO -183 vs V LV +296
L NYJ +289 vs V NE -199
L PHI +1014 vs V PIT -122
L HOU -158 vs V TEN +407
L IND +259 vs V WAS +225
L LA -183 vs V SF +332
L SEA -154 vs V NYG +428
L BUF +2561 vs V GB -110
L CLE -141 vs V CIN +537

In [37]:
model

Module: Penaltyblog

Model: Dixon and Coles

Number of parameters: 66
Log Likelihood: -418.574
AIC: 969.148

Team                 Attack               Defence
------------------------------------------------------------
ARI                  1.059                0.295
ATL                  1.141                0.381
BAL                  0.968                0.708
BUF                  0.331                0.686
CAR                  1.005                0.138
CHI                  1.014                0.12
CIN                  0.784                0.509
CLE                  1.249                0.495
DAL                  0.537                0.277
DEN                  0.709                -0.271
DET                  1.495                0.692
GB                   1.096                0.244
HOU                  1.234                0.178
IND                  0.931                0.089
JAX                  0.988                0.379
KC                   1.232                0.901
LA                   1.029                0.244
LAC                  1.177                0.337
LV                   1.248                0.546
MIA                  1.066                0.539
MIN                  0.858                0.292
NE                   0.868                0.269
NO                   1.408                0.554
NYG                  0.894                0.418
NYJ                  0.895                0.448
PHI                  0.796                0.641
PIT                  1.075                0.118
SEA                  1.278                0.431
SF                   0.811                0.277
TB                   0.736                0.046
TEN                  1.075                0.373
WAS                  1.013                0.108
------------------------------------------------------------
Home Advantage: 0.0
Rho: -0.1

In [38]:
model.get_params()

{'attack_ARI': 1.059078931946171,
 'attack_ATL': 1.1407618558909134,
 'attack_BAL': 0.9677917188436387,
 'attack_BUF': 0.3307953682087275,
 'attack_CAR': 1.0047497276017514,
 'attack_CHI': 1.0137698065322718,
 'attack_CIN': 0.7841339565240943,
 'attack_CLE': 1.24882221384117,
 'attack_DAL': 0.5373937180091068,
 'attack_DEN': 0.7094053066717987,
 'attack_DET': 1.4953478399485585,
 'attack_GB': 1.0963751666021715,
 'attack_HOU': 1.23380557364547,
 'attack_IND': 0.931448775341382,
 'attack_JAX': 0.9875041149961116,
 'attack_KC': 1.2322301707408976,
 'attack_LA': 1.028614785611095,
 'attack_LAC': 1.1770927039269032,
 'attack_LV': 1.2477898161589196,
 'attack_MIA': 1.0664032985415324,
 'attack_MIN': 0.8575126377041253,
 'attack_NE': 0.8681795766621923,
 'attack_NO': 1.4076363781197712,
 'attack_NYG': 0.8943200981808658,
 'attack_NYJ': 0.8953731647590104,
 'attack_PHI': 0.7956562350524856,
 'attack_PIT': 1.074641161375747,
 'attack_SEA': 1.2782173408317217,
 'attack_SF': 0.8107777763624335,
 'attack_TB': 0.7364488419313647,
 'attack_TEN': 1.075288710422358,
 'attack_WAS': 1.0126332290152444,
 'defence_ARI': 0.29518640091358056,
 'defence_ATL': 0.3814184849331088,
 'defence_BAL': 0.7075359511870658,
 'defence_BUF': 0.6861262445818436,
 'defence_CAR': 0.137905093019471,
 'defence_CHI': 0.12047778613293803,
 'defence_CIN': 0.5087813480734138,
 'defence_CLE': 0.49545627703401873,
 'defence_DAL': 0.2769854720333283,
 'defence_DEN': -0.2713408629606738,
 'defence_DET': 0.6924612804229059,
 'defence_GB': 0.24428620057595551,
 'defence_HOU': 0.1779926655292285,
 'defence_IND': 0.0890584616756198,
 'defence_JAX': 0.37881665012901966,
 'defence_KC': 0.900541697991446,
 'defence_LA': 0.24436007760007364,
 'defence_LAC': 0.3365347739169744,
 'defence_LV': 0.5461125057084675,
 'defence_MIA': 0.5390260532428905,
 'defence_MIN': 0.29187391460495116,
 'defence_NE': 0.26888087906770003,
 'defence_NO': 0.5535746082361773,
 'defence_NYG': 0.4176964340400166,
 'defence_NYJ': 0.44787438737337687,
 'defence_PHI': 0.6413610162027661,
 'defence_PIT': 0.11755060490018618,
 'defence_SEA': 0.43127768678156975,
 'defence_SF': 0.2771376210963157,
 'defence_TB': 0.04607589203968587,
 'defence_TEN': 0.3730625907455685,
 'defence_WAS': 0.10775261773058863,
 'home_advantage': 2.5494729384785723e-07,
 'rho': -0.1}